.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px 40px;
  box-sizing: border-box;
}

.App-title {
  float: left;
  margin: 0;
  color: #D9D9D9;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 300;
}

.header--sub {
  color: #000000;
  font-weight: 700;
}

.user-name {
  float: right;
  color: #E0E0E0;
  font-family: 'Roboto', sans-serif;
}

main {
  padding-top: 40px;
  background-image: url('../../assets/background-main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/